@import './scss/main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
  font-family: var(--primary-font);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-grey);
    border-radius: 5px;
  }
}

ul {
  list-style: none;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}
