.notfound {
  position: relative;
  height: 100vh;
  max-width: 95vw;
  & > .container--404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #eeeeee;
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > .image--404 {
      height: 30vh;
      width: 100%;
      object-fit: contain;

      & > img {
        width: 100%;
        height: 100%;
      }
    }
    & > .link--404 {
      background: var(--primary-color);
      border-radius: 3px;
      height: 3rem;
      padding: 10px;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}
