:root {
  // high priority colors

  --primary-color: #0068b3;
  --accent-color: #ffd416;
  --dark-color: #000411;
  --light-color: #f4f4f4;
  --white-color: #ffffff;
  --primary-grey: #b8b8b8;
  --secondary-grey: #ebe9e9;
  --red: #ec1c50;

  --box-shadow: 0 5px 20px 0px #0068b354;
  --box-shadow-light: 0 3px 10px 0 #0068b363;
  --box-shadow-1: 5px 10px 20px 0px rgba(0, 0, 0, 0.09);
  --box-shadow-2: 5px 10px 15px 0px rgba(0, 0, 0, 0.05);

  --primary--color-light: #277ab4;

  // sharing social media icon colors
  --whatsapp-color: #25d366;
  --facebook-color: #3b5998;
  --twitter-color: #55acee;
}
